* {
  background-color: aqua;
  color: coral;
}

main {
  min-height: 600px;
}

.container {
  max-width: 612px;
  padding: 0;
}

.list-group {
  max-width: 612px;
}

.list-group-item:nth-child( even ) {
  margin-bottom: 10px;
}

img {
  margin-bottom: 10px;
}